<div class="container-fluid resa-background">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="text-center">Formulaire Intervenant</h1>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form method="post" action="/reservation">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<input type="text" class="input__field input__field--resa" name="resa[nom]">
					<label class="input__label input__label--resa">
						<span class="input__label-content input__label-content--resa">Nom</span>
					</label>
					<svg class="graphic graphic--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,58.0c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<input type="text" class="input__field input__field--resa" name="resa[prenom]">
					<label class="input__label input__label--resa">
						<span class="input__label-content input__label-content--resa">Prénom</span>
					</label>
					<svg class="graphic graphic--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,58.0c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<input type="text" class="input__field input__field--resa" name="resa[email]">
					<label class="input__label input__label--resa">
						<span class="input__label-content input__label-content--resa">E-mail</span>
					</label>
					<svg class="graphic graphic--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,58.0c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<input type="text" class="input__field input__field--resa" name="resa[telephone]">
					<label class="input__label input__label--resa">
						<span class="input__label-content input__label-content--resa">Téléphone</span>
					</label>
					<svg class="graphic graphic--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,58.0c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<input type="date" class="input__field input__field--resa" name="resa[date]">
					<label class="input__label input__label--resa">
						<span class="input__label-content input__label-content--resa">Date Réservée</span>
					</label>
					<svg class="graphic graphic--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,58.0c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row space-textarea">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<textarea class="textarea" name="resa[description]"></textarea>
					<label class="textarea__label textarea__label--resa">
						<span class="textarea__label-content textarea__label-content--resa">Domaine d'activité</span>
					</label>
					<svg class="graphic graphic2--resa" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
						<path d="M0,1.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</div>
			</div>
			<div class="row space-button">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 input--resa">
					<div class="col-xs-2 col-xs-offset-3 col-sm-6 col-md-1 col-md-offset-5 col-lg-2 col-lg-offset-4">
						<button class="resa-btn-annule" type="submit">Annuler</button>
					</div>
					<div class="col-xs-2 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-1 col-lg-2">
						<button class="resa-btn-valid" type="submit">Valider</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>